.landing-cta {
  margin-left: 2em;
}

.tagline {
  display: flex;
  text-align: left;
  font-size: 6rem;
  line-height: 1.25;
  align-items: center;
  margin-top: 2em;
}

.landing-button {
  display: flex;
  font-size: 1.5rem;
}

.mobile-tagline {
  display: none;
}

@media screen and (max-width: 950px) {
  .landing-cta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  .mobile-tagline {
    display: flex;
    font-size: 350%;
    margin-top: 3em;
    margin-bottom: 1.5em;
  }

  .landing-button {
    font-size: 1.2rem;
  }

  .tagline {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .mobile-tagline {
    font-size: 300%;
  }
}
