.landing-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.tagline {
  display: flex;
  text-align: left;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.25;
  align-items: center;
  margin-top: 2em;
  text-align: center;
}

.sub-tagline {
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  line-height: 1.8;
  margin-top: 2rem;
  max-width: 65ch;
}

.landing-button {
  display: flex;
  font-size: 1.125rem;
  letter-spacing: 0.02em;
  line-height: 0.85;
  min-width: 10rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-top: 2.5rem;
}

.mobile-tagline {
  display: none;
}

@media screen and (max-width: 1092px) {
  .tagline {
    font-size: 4rem;
  }
}

@media screen and (max-width: 880px) {
  .tagline {
    font-size: 2.5rem;
  }
}
