@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    display: none;
}

#aboutStructure {
    display: flex;
    place-content: stretch space-evenly;
    margin-top: 130px;
}

#headshotCol1, #headshotCol2 {
    display: flex;
    flex-flow: column wrap;
    place-content: space-evenly;
}

#headshotCol1 {
    
}

#headshotCol2 {

}

#statementCol {
    width: 85%;
}

.socials {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    left: 0;
    bottom: 10%;
    place-content: center space-around;
}

.socials a {
    width: 50px;
}

.socials * {
    font-size: 1.75rem;
    margin: 3px 10px;
}

#statementContainer {
    display: flex;
    flex-flow: column nowrap;
    place-content: space-around;
    height: 100%;
}

.statement {
    border-bottom: .5px solid rgba(228, 228, 231, .8);
    min-height: 140px;
    margin: 15px 0;
}

.statement h2 {
    text-align: left;
    font-size: 2rem;
    border-bottom: .5px solid rgba(228, 228, 231, .8);
    margin: 0;
    max-height:45px;
    line-height: 2rem;
}

.statement p {
    text-align: left;
    padding-right: 20px;
}

.teamMember {
    display: flex;
    flex-flow: column nowrap;
}

.teamMember img {
    transition: width .1s ease-in-out;
    width: 50%; 
    margin: 5px auto;
}
.teamMember img:hover {
    transition: width .2s ease-in-out;
    width: 60%; 
    margin: 5px auto;
}
.teamMember p {
    width: 80%; 
    margin: 2px auto;
    text-align: center;
}
.teamMember h3 {
    font-size: .7rem;
    text-align: center;
}

.teamMember h4 {
    font-size: .7rem;
}


.shortList {
    display: none;
}


@media all and (max-width: 960px) {



    #statementCol {
    
    }



}