:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-color: #00bcc9;
  --main-text-color: #39405f;
  --secondary-text-color: #267ba1;
  --dark-mode-background: #121212;
  --dark-mode-text-color: #f8f0e3;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: var(--dark-mode-text-color);
  background-color: var(--dark-mode-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-text-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--main-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--main-text-color);
    background-color: #ffffff;
  }
  a:hover {
    color: var(--secondary-text-color);
  }
  button {
    background-color: var(--main-color);
  }
  .navbar {
    background-color: #fff;
    box-shadow: 0 0 30px rgba(21, 55, 44, 0.1);
    color: var(--main-text-color);
  }
  .nav-link {
    color: var(--secondary-text-color);
  }
}
